<footer class="footer">
  <small>
    <%= link_to t(".subtitle"), Settings.help.link_rails %>
    <%= t ".by" %> <%= link_to t(".admin_name"), Settings.help.link_admin %>
  </small>
  <nav>
  <ul>
    <li><%= link_to t(".about"), "#" %></li>
    <li><%= link_to t(".contact"), "#" %></li>
    <li><%= link_to t(".news"), "#" %></li>
  </ul>
  </nav>
</footer>
